<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Enviar párametros del request HTTP GET - URL</title>
</head>
<body>
<h1>Enviar párametros del request HTTP GET - URL</h1>
<ul>
<li><a th:href="@{/params/string(texto='Hola Cesar')}">/params/string?texto=Hola Cesar</a></li>
<li><a th:href="@{/params/string(texto='Que tal Cesar')}">/params/string?texto=Que tal Cesar</a></li>
<li><a th:href="@{/params/mix-params(saludo='Comó estas Cesar', numero=7)}">/params/mix-params?saludo=Comó estas Cesar&numero=7</a></li>
<li><a th:href="@{/params/mix-params-request(saludo='Comó estas Cesar', numero=7)}">/params/mix-params-request?saludo=Comó estas Cesar&numero=7</a></li>
</ul>
</body>
</html>